h1{
    font-size: 48px;
    font-weight: bold;
    color: #f2c261;
}

.champions_wrapper{
    display: flex;
    justify-content: space-around;
}

.img_wrapper{
    width:150px;
    height:150px;
    border:2px solid #f2c261;
    border-radius: 50%;
    overflow: hidden;
}

icon{
    cursor:pointer;
    width: 200px;
    height: 200px;
    transition: 0.3s;
}

.img_wrapper:hover img{
    width:180px;
    height: 180px;
}