.item_img_wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.item_img{
    position: relative;
    display: inline-block;
    cursor: pointer;
}
.item_popup{
    visibility: hidden;
    width: 160px;
    background-color: #fff;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}