h1{
    font-size: 48px;
    font-weight: bold;
    color: white;
}

.champions_wrapper{
    display: flex;
    justify-content: space-around;
}

.img_wrapper{
    width:150px;
    height:150px;
    border:2px solid white;
    border-radius: 50%;
    overflow: hidden;
}

img{
    cursor:pointer;
    width: 150px;
    height: 150px;
    transition: 0.3s;
}

.img_wrapper:hover img{
    width:160px;
    height: 160px;
}